/* 这是全局的样式 */

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;

}

.el-pagination {
    margin-top: 15px;
    text-align: center;
}

.el-cascader-menu{
    max-height: 200px;
  }

.el-step__title{
    font-size: 12px;
}
.el-steps--horizontal{
    margin:20px 0;
}
.el-checkbox.is-bordered+.el-checkbox.is-bordered{
    margin-left: 0;
}
.ql-container.ql-snow{
    min-height: 200px;
  }

